{{ include('layouts/header.twig', {title:'Register'}) }}

<div class="container">
    <h1>Create an Account</h1>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form action="{{ base }}/user/store" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <input type="submit" class="btn" value="Register">
    </form>

    <a href="{{ base }}/login" class="btn">Already have an account? Login</a>
</div>

{{ include('layouts/footer.twig') }}
